@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color: white;
}

@layer utilities {
  .font-defectica {
    font-family: var(--font-defectica);
  }
  .font-mono {
    font-family: var(--font-space-mono);
  }
}

@layer base {
  h1 {
    font-family: var(--font-defectica);
    font-size: 42px;
    color: white;
    line-height: 1;
  }
  button {
    font-family: var(--font-space-mono);
  }
}
