@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-defectica: var(--font-defectica);
  --font-space-mono: var(--font-space-mono);
  --font-sans: var(--font-defectica);
  --font-mono: var(--font-space-mono);
}
